<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolorem possimus voluptate natus asperiores! Dolores 
            dolorem sapiente voluptate exercitationem obcaecati illum.
        </p>
    </div>
</div>